PORT=8080
DB_HOST=127.0.0.1
DB_NAME=instock
DB_USER=root
DB_PASSWORD=rootroot

# Instructions for setting up database locally
# 1. Create a new database scheme in mySQL named instock
# 2. run npm install knex mysql12 dotenv
# 3. Create a .env and copy the above content into it
# 4. run npx knex migrate:latest
# 5. npx knex seed:run